.icon1 {
  width: 79px;
  height: 108px;
}
.icon2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.about {
  color: #fff;
  font-size: 14px;
  place-content: center;
  position: relative;
  padding: 24px 0px;
}
.about_menu {
  cursor: pointer;
  color: #000000;
  font-size: 14px;
  width: 170px;
  line-height: 2;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 30px 15px 20px;
  position: absolute;
  transform: translate(0, 10px);
  display: none;
}
.about:hover .about_menu {
  display: block;
}
.about_ins {
  color: #fff;
  place-content: center;
  font-size: 14px;
  position: relative;
  padding: 24px 0px;
}
.about_ins_menu {
  cursor: pointer;
  color: #000000;
  font-size: 14px;
  width: 170px;
  line-height: 2;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 30px 15px 20px;
  position: absolute;
  transform: translate(0, 10px);
  display: none;
  /* background-image:linear-gradient(176deg, #ffffff 86%, #a1a1aa); */
}
.about_ins:hover .about_ins_menu {
  display: block;
}
.about_ins_other_menu {
  cursor: pointer;
  color: #000000;
  font-size: 14px;
  width: 250px;
  line-height: 2;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 30px 15px 20px;
  position: absolute;
  transform: translate(0, 5px);
  display: none;
}
.about_ins_menu a:hover .about_ins_other_menu {
  display: block;
}
.button {
  background-color: #e74208;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration-line: none;
  place-content: center;
}
.button:hover {
  background-color: #e74208;
}
.slide {
  width: 100%;
  height: 400px;
}
.about_menu2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}
